
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link href="../select2/select2.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
<section id="home">
<img src="../img/movietimelogo.png">

  <div class="jumbotron">
    <div class="container">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input style="width:500px" name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
      <label for="inputPhone" class="col-lg-2 control-label">Mobile Number</label>
    <div class="col-lg-10">
      <input style="width:500px" name="phone" type="number" class="form-control" id="inputPhone" placeholder="Phone Number">
    </div>
  </div>
      <label for="inputInterests" class="col-lg-2 control-label">Interests</label>
        <select style="width:500px" multiple id="e2_2" name="interests" class="form-control">
           <option value="Action &amp; Adventure">Action &amp; Adventure</option>
                    <option value="Animation" >Animation</option>
                    <option value="Anime &amp; Manga" >Anime &amp; Manga</option>
                    <option value="Art House &amp; International" >Art House &amp; International</option>
                    <option value="Classics" >Classics</option>
                    <option value="Comedy" >Comedy</option>
                    <option value="Cult Movies" >Cult Movies</option>
                    <option value="Documentary" >Documentary</option>
                    <option value="Drama" >Drama</option>
                    <option value="Faith &amp; Spirituality" >Faith &amp; Spirituality</option>
                    <option value="Gay &amp; Lesbian" >Gay &amp; Lesbian</option>
                    <option value="Horror" >Horror</option>
                    <option value="Kids &amp; Family" >Kids &amp; Family</option>
                    <option value="Musical &amp; Performing Arts">Musical &amp; Performing Arts</option>
                    <option value="Mystery &amp; Suspense" >Mystery &amp; Suspense</option>
                    <option value="Romanace" >Romance</option>
                    <option value="Science Fiction &amp; Fantasy" >Science Fiction &amp; Fantasy</option>
                    <option value="Special Interests" >Special Interest</option>
                    <option value="Sports &amp; Fitness" >Sports &amp; Fitness</option>
                    <option value="Television" >Television</option>
                    <option value="Western" >Western</option>
        </select>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default" id='submitUserInfo'>Submit</button>
      </div>
    </div>
</form>
<span id="insertHere"></span>
</section>


      <!-- Forms
      ================================================== -->
<!--
        <div class="row">
          <div class="col-lg-6" style="width: inherit; margin-left: 20%">
            <div class="well">
              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPhone" class="col-lg-2 control-label">Mobile Number</label>
                    <div class="col-lg-10">
                        <input name="phone" type="number" class="form-control" id="inputPhone" placeholder="Phone Number">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputInterests" class="col-lg-2 control-label">Interests</label>
                    <div class="col-lg-10">
                      <input type="text" name="interests" class="form-control" id="inputInterests" placeholder="Interests (ex: Fiction, Action, Romance)">
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-default" id='submitUserInfo'>Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

        </div>
      </div>-->


    <script src="http://bootswatch.com/bower_components/jquery/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://github.com/makeusabrew/bootbox/releases/download/v4.0.0/bootbox.min.js"></script>
    <script src="js/TcUserFormSubmit.js"></script>
    <script src="../select2/select2.js"></script>
    <script>
        $(document).ready(function() { 
          $("#e2_2").select2({
                placeholder: "Choose some generes that interest you"
            });
        });
    </script>
  
  </body>
</html>